*{
    margin: 0px;
    padding: 0px;
    align-items: center;
    align-content: center;
}
body{
    background-image: radial-gradient(circle, #d750e7 0%, #00d4ff 100%);
}
.container{
    /* margin-top: 20%;
    margin-left: 15%; */
    /* margin: 19%; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* margin-right: 40%; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.text {
    padding: 1rem;
    font-size: 5rem;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .text {
        font-size: 3rem; 
    }
}

@media screen and (max-width: 576px) {
    .text {
        font-size: 2rem;
    }
}


form {
    padding: 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(182 9 90 / 14%);
    border-radius: 7px;
}

@media screen and (max-width: 768px) {
    form {
        flex-direction: column;
        padding-left: 1rem;
        gap: 1rem;
        width: fit-content;
    }
}

@media screen and (max-width: 576px) {
    form {
        padding: 2%;
    }
}


input {
    font-size: 1.1rem;
    border-radius: 7px;
    color: black;
    font-weight: bold;
    padding: 0.7rem 2.5rem;
    margin-right: 20px;
    border: 0;
    outline: 0;
    position: relative;
    width: 12rem;
}

@media screen and (max-width: 768px) {
    input {
        margin-right: 0;
    }
}

@media screen and (max-width: 576px) {
    input {
        font-size: 1rem;
        padding: 0.5rem 1.5rem;
    }
}


.button{
    background-color: yellow;
}

#result {
    width: 32rem;
    background-color: #cdff7f;
    margin: 2rem 0rem;
    font-size: 1.45rem;
    padding: 1rem 2rem;
    border-radius: 27px;
    color: #130b0a;
    font-family: sans-serif;
}

@media screen and (max-width: 768px) {
    #result {
        width: 20rem;
        margin: 1rem 0;
        font-size: 1.2rem;
        padding: 0.8rem 1.5rem; 
    }
}

@media screen and (max-width: 576px) {
    #result {
        width: 10rem;
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
}

